.board {
     display: flex;
     justify-content: center;
     flex-flow: row wrap;
     align-items: center;
     height: auto;
     text-align: center;
}
.boxcolor {
     width: 60px;
     height: 60px;
     border-radius: 10px;
}
