.container {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     background-color: black;
     width: 100%;
}

.neon {
     margin-top: 30px;
     color: #fb4264;
     font-size: 4vw;
     line-height: 4vw;
     text-shadow: 0 0 1vw #f40a35;
}

.flux {
     color: #426dfb;
     font-size: 4vw;
     line-height: 3vw;
     text-shadow: 0 0 1vw #2356ff;
     margin-bottom: 10px;
}

.neon {
     animation: neon 1s ease infinite;
     -moz-animation: neon 1s ease infinite;
     -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
     0%,
     100% {
          text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
               0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
          color: #fed128;
     }
     50% {
          text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
               0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
          color: #806914;
     }
}

.flux {
     animation: flux 2s linear infinite;
     -moz-animation: flux 2s linear infinite;
     -webkit-animation: flux 2s linear infinite;
     -o-animation: flux 2s linear infinite;
}

@keyframes flux {
     0%,
     100% {
          text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
               0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
          color: #28d7fe;
     }
     50% {
          text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
               0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
          color: #146c80;
     }
}
.Board {
     width: 400px;
     height: 400px;
     margin: 30px auto;
}
.Cell {
     height: 75px;
     width: 75px;
     background-color: #001f8d;
}
.Cell:hover {
     transition: 0.3s;
     cursor: pointer;
     border: 1px solid white;
}
.Cell-lit {
     background-color: #4693ff;
}
