.coinflip {
     margin: 0 auto;
     width: 400px;
     height: auto;
     text-align: center;
     padding: 20px;
     background-color: #fff;
}
.coinflip button {
     border-radius: 6px;
     background-color: #a0ea63;
     cursor: pointer;
     border: 1px solid #76e21d;
}
.coinflip p, button {
     padding: 8px 20px;
     font-weight: 600;
}
.coinflip img {
     width: 185px;
     height: 170px;
}
