.coinflip {
     width: 500px;
     height: 500px;
     text-align: center;
     padding: 10px;
     background-color: #fff;
}
.coinflip button {
     border-radius: 6px;
     background-color: #a0ea63;
     cursor: pointer;
     border: 1px solid #76e21d;
}
.coinflip p, button {
     padding: 8px 20px;
     font-weight: 600;
     padding: 8px 20px;
     font-weight: 600;
}
.coinflip img {
     width: 180px;
     height: 167px;
}
