* {
     margin: 0;
     padding: 0;
     outline: 0;
     list-style: none;
     text-decoration: none;
     box-sizing: border-box;
     text-align: center;
}
.full {
     width: 100%;
     height: auto;
     padding: 50px 0;
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
}
button {
     border-radius: 6px;
     background-color: #a0ea63;
     cursor: pointer;
     border: 1px solid #76e21d;
     padding: 8px 20px;
     font-weight: 600;
}
h1 {
     margin: 30px 0;
}
.bordas {
     margin: 20px 0;
     padding: 20px 40px;
     border: 1px solid black;
     border-radius: 10px;
}
