.blocks {
     display: flex;
     justify-content: space-evenly;
     flex-flow: row wrap;
     align-items: center;
}

.blocks li {
     border-radius: 50px;
     color: white;
     padding: 10px 20px;
     margin: 10px;
     background-color: #ff2288;
}

.alldark {
     background-color: #111111;
}